@model IEnumerable<Licenta.Models.Plati.TipPlata>

@{
    ViewData["Title"] = "Tip plati";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div id="tipPlata-modal"></div>

<div class="row">
    <div class="col-6">
        <h2>Tip plati</h2>
    </div>
    <div class="col-6 text-right">
        <button type="button" data-target="#add-tipPlata" data-toggle="ajax-tipPlata-modal" class="btn btn-outline-secondary">
            <i class="fa fa-plus" aria-hidden="true"></i>
            &nbsp;&nbsp;Adaugare tip plata nou
        </button>
    </div>
</div>

<br />

<partial name="_NotificationBoxPartial" />

<div class="table-responsive-md p-4 border rounded">
    <table class="table table-hover" id="tblData" style="width:100%">
        <thead>
            <tr class="thead-dark">
                <th>
                    @Html.DisplayNameFor(model => model.Denumire)
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/plati/tipPlata.js"></script>
    <partial name="_ValidationScriptsPartial" />
}

