@model IEnumerable<Licenta.Models.Client>

@{
    ViewData["Title"] = "Clienti";
}

<div id="modal-clienti-import-ph"></div>

<br />

<div class="row">
    <div class="col-6">
        <h2>Clienti</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Creare client nou</a>
    </div>
</div>

<div class="row">
    <div class="col-12 text-right">
        <button type="button" data-target="#add-clienti-import" data-url="@Url.Action("ImportClienti")" data-toggle="ajax-clienti-modal" class="btn btn-outline-primary">
            <i class="fa fa-plus" aria-hidden="true"></i>
            &nbsp;&nbsp;Import clienti Saga
        </button>
    </div>
</div>

<br />

<div class="table-responsive-md p-4 rounded border">
    <table class="table table-hover" id="tblData">
        <thead>
            <tr class="thead-dark">
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Denumire)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.CodFiscal)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.NrRegComertului)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>

    </table>
</div>

@section Scripts {
    <script src="~/js/client.js"></script>
} 