@model Licenta.Models.IstoricSalar

<div class="modal fade" id="addIstoricSalar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @* titlu *@
                <h4 class="modal-title" id="addIstoricSalarLabel">Adaugare Istoric Salar</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>

            @* Formular adaugare Istoric Salar nou *@
            <div class="modal-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="SalariatId" class="control-label"></label>
                        <select asp-for="SalariatId" class="form-control" asp-items="ViewBag.SalariatId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataInceput" class="control-label"></label>
                        <input asp-for="DataInceput" class="form-control" />
                        <span asp-validation-for="DataInceput" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataSfarsit" class="control-label"></label>
                        <input asp-for="DataSfarsit" class="form-control" />
                        <span asp-validation-for="DataSfarsit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Salariu" class="control-label"></label>
                        <input asp-for="Salariu" class="form-control" />
                        <span asp-validation-for="Salariu" class="text-danger"></span>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="close btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>

        </div>
    </div>
</div>

