@{
    ViewData["Ttile"] = "Document inexistent";
}

<div class="text-center d-flex justify-content-center">
    <div class="m-5">
        <h3>Ne pare rau! Documentul solicitat nu exista sau nu a fost incarcat pe platforma.</h3>
        <h4>Va rugam reincercati sau contactati administratorul.</h4>
        <h4>Va multumim!</h4>
    </div>
</div>
