@model IEnumerable<Licenta.Models.Document>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Vizualizare Documente Primite";
}

<div class="row">
    <div class="col-6">
        <h2>Documente Primite</h2>
    </div>
    <div class="offset-2 col-4 text-right">
        <select onchange="FilterByCategorie(this.value)" asp-items="@ViewBag.TipDocumente" class="form-control">
            <option value="" default="" selected="" class="font-italic">--Selectati categoria--</option>
        </select>
    </div>
</div>
<br />

<div class="table-responsive-md p-4 rounded border">
    <table class="table table-hover">
        <thead>
            <tr class="thead-dark">
                <th>
                    @Html.DisplayNameFor(model => model.DocumentPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipDocument.Denumire)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
            </tr>
        </thead>
        <tbody id="tblData">
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/documente/vizualizareDocsByCategorie.js"></script>
}


