@{
    ViewData["Title"] = "Mail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a onclick="sendEmail()" class="btn btn-secondary">
    Send Email!
</a>

<script>
    function sendEmail() {
        
        $.ajax({
            url: "/Admin/Mail/SendMail",
            type: "GET",
            contentType: "application/json",
            success: function (data) {
                if (data.success) {
                    toastr.success(data.message);
                } else {
                    toastr.error(data.message);
                }
            }
        });

    }
</script>