@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<br />
<h4>Profilul dumneavoastra</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<p class="m-5"></p>

<div class="row">
    <div class="col-md-8">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="Input.Nume"></label>
                </div>
                <div class="col-md-9">
                    <input asp-for="Input.Nume" class="form-control" />
                    <span asp-validation-for="Input.Nume" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="Username"></label>
                </div>
                <div class="col-md-9">
                    <input asp-for="Username" class="form-control" disabled />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="Input.ClientName"></label>
                </div>
                <div class="col-md-9">
                    <input asp-for="Input.ClientName" class="form-control" disabled />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    Telefon
                </div>
                <div class="col-md-9">
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="Input.PozitieFirma"></label>
                </div>
                <div class="col-md-9">
                    <input asp-for="Input.PozitieFirma" class="form-control" />
                    <span asp-validation-for="Input.PozitieFirma" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    <label>Rolul dumneavoastra</label>
                </div>
                <div class="col-md-9">
                    <input asp-for="Input.Rol" class="form-control" disabled />
                </div>
            </div>

            <div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label asp-for="Input.Descriere"></label>
                    </div>
                    <div class="col-md-9">
                        <textarea asp-for="Input.Descriere" class="form-control"></textarea>
                        <span asp-validation-for="Input.Descriere" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                    <strong>Incarcati poza noua de profil</strong>
                </div>
                <div class="col-md-9">
                    <input asp-for="Input.ImageUrl" class="form-control" />
                    <span asp-validation-for="Input.ImageUrl" class="text-danger"></span>
                </div>
            </div>

            <button id="update-profile-button" type="submit" class="btn btn-primary mb-2 form-control col-md-9 offset-md-3">Salvare</button>
        </form>
    </div>

    <form>
        <div class="col-md-6">
            <div class="form-group row">
                <div class="col-md-12 offset-md-11">
                    <img src="@Model.profileImageUrl" width="250" height="400" alt="No image yet." />

                    <div class="mt-3">
                        <a asp-area="Identity" asp-page="/Account/Manage/SetPassword">Resetare parola</a>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_UpdateImageModalPartial" />
    <script src="~/js/profile.js"></script>
}