@model Licenta.Models.QandA.QuestionCategory

@{
    ViewData["Title"] = "Detalii categorie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denumire)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@Model.QuestionCategoryId">Editeaza</a> |
    <a class="btn btn-outline-primary" asp-action="Index">Inapoi la lista</a>
</div>
