@model IEnumerable<Licenta.Models.QandA.QuestionCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Intrebari in functie de categorii</h2>

<hr />

<br />
<div class="d-flex flex-wrap justify-content-center">
    @foreach (var item in Model)
    {

        <div class="d-flex flex-wrap">
            <div class="card border-secondary m-3" style="max-width: 18rem;">
                <div class="card-header">@Html.DisplayFor(modelItem => item.Denumire)</div>
                <div class="card-body text-secondary">
                    <p class="card-text">Descoperiti mai multe intrebari din categoria @Html.DisplayFor(modelItem => item.Denumire)</p>
                    <p><a asp-controller="Questions" asp-action="QuestionsByCategory" asp-route-category="@item.QuestionCategoryId" class="btn btn-warning">Mai multe</a></p>
                </div>
            </div>
        </div>

    }
</div>