@model Licenta.Areas.Clienti.Models.HomeFormVM

@{
    ViewData["Title"] = "Contsal";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

<style>
    .container {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
</style>

<section class="home">
    <section id="banner-area">

        <div class="owl-carousel owl-theme">

            <div class="item">
                <img src="~/img/business-offices.jpg" alt="Accounting Banner">
            </div>

            <div class="item">
                <img src="~/img/business-home.jpg" alt="Accounting picture 2">
            </div>

        </div>

    </section>

    <div style="margin-top: 40px"></div>

    <section id="services-title">
        <h1 class="text-center">Servicii</h1>
    </section>

    <!-- Intro -->
    <section id="services" style="margin:auto">
        <div class="mt-5 services">
            <div class="services_box">
                <img class="services_img" src="https://www.alvordschools.org/cms/lib/CA01900929/Centricity/Domain/1211/resources.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title text-center">Gestionare resurse</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <center><a href="#" class="card-link btn btn-primary text-center">Read more</a></center>
                </div>
            </div>
            <div class="services_box">
                <img class="card-img-top" src="https://santoracpagroup.com/wp-content/uploads/2017/05/santore_accounting.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title text-center">Contabilitate si gestiunea afacerii</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <center><a href="#" class="card-link btn btn-primary text-center">Read more</a></center>
                </div>
            </div>
            <div class="services_box">
                <img class="services_img" src="https://digital.hbs.edu/platform-digit/wp-content/uploads/sites/2/2018/04/accounting-fraud.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title text-center">Intocmire situatii si declaratii</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <center><a href="#" class="card-link btn btn-primary text-center">Read more</a></center>
                </div>
            </div>
            <div class="services_box">
                <img class="services_img" src="http://assets.nerdwallet.com/blog/wp-content/uploads/2015/10/8-student-faqs-about-taxes.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title text-center">Administrarea taxelor si impozitelor</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <center><a href="#" class="card-link btn btn-primary text-center">Read more</a></center>
                </div>
            </div>
        </div>
    </section>
</section>


<section name="contact-us" id="contact-us" style="margin-top: 100px;">
    <div id="contact-body">
        <div class="m-5">
            <h3 class="pt-4 pl-4 text-left text-white">Contactati-ne!</h3>
        </div>
       
        <form id="sendFormHome">
            <div class="form-group row">
                <div class="text-center text-white col-1 offset-1">
                    <label asp-for="Nume" class="col-form-label"></label>
                </div>
                <div class="col-3">
                    <input asp-for="Nume" class="form-control" placeholder="Introduceti numele dumneavoastra" />
                </div>
                <div class="text-center text-white col-1">
                    <label asp-for="Email" class="col-form-label"></label>
                </div>
                <div class="col-4">
                    <input asp-for="Email" class="form-control" placeholder="Adresa email" />
                </div>
            </div>

            <div class="form-group row">
                <div class="text-center text-white col-1 offset-1">
                    <label asp-for="Subiect" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Subiect" placeholder="Subiectul mesajului" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="text-center text-white col-1 offset-1">
                    <label asp-for="Mesaj" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Mesaj" placeholder="Completati cu mesajul dumneavoastra" rows="8" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3 offset-7">
                    <button id="submitMailButton" class="btn btn-secondary form-control">
                        <i class="far fa-paper-plane"></i>&nbsp;&nbsp;Trimite
                    </button>
                </div>
            </div>
        </form>

    </div>
</section>