@model Licenta.Areas.Admin.Models.ViewModels.DashboardVM  

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
}

<br />

<div class="row">
    <div class="col-6">
        <h3>Dashboard</h3>
    </div>
    <div class="col-6 text-right">
        <select onchange="FilterByClient(this.value)" id="dashboardClient" asp-for="ClientId" asp-items="ViewBag.ClientIdList" class="form-control"></select>
    </div>
</div>

<h4 class="mt-5 text-center font-italic">
    <span name="denumire"></span> - diagrama de tip bar profit/pierdere</h4>
<canvas id="myChart" style="height:20vh; width:50vh;"></canvas>
<div class="m-5"></div>

<h4 class="mt-5 text-center font-italic">
    <span name="denumire"></span> - diagrama de tip linie profit/pierdere</h4>
<canvas id="lineChartProfit" style="width:50vh; height:20vh;"></canvas>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
    <script src="~/js/charts/bars.js"></script>
    <script src="~/js/charts/lines.js"></script>
}

