@model Licenta.Models.QandA.Response

@{
    ViewData["Title"] = "Adauga raspuns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h3>Adaugare raspuns</h3>

<hr />
<div class="container">
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="QuestionId" />

        <div class="form-group row">
            <div class="col-4">
                Intrebare
            </div>
            <div class="col-6">
                <select asp-items="ViewBag.QuestionId" class="form-control" disabled></select>
            </div>
        </div>

        @if (!String.IsNullOrEmpty(ViewBag.Descriere))
        {
            <div class="form-group row">
                <div class="col-4">
                    Intrebare detaliata
                </div>
                <div class="col-6">
                    <textarea class="form-control" rows="10">@ViewBag.Descriere</textarea>
                </div>
            </div>
        }

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Raspuns" class="control-label"></label>
            </div>
            <div class="col-6">
                <textarea asp-for="Raspuns" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Raspuns" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="DataAdaugare" class="control-label"></label>
            </div>
            <div class="col-6">
                <input asp-for="DataAdaugare" class="form-control" readonly />
                <span asp-validation-for="DataAdaugare" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="submit" value="Adauga raspuns" class="btn btn-success form-control" />
            </div>
            <div class="col-3">
                <a asp-controller="Questions" asp-action="Index" class="btn btn-primary form-control">Inapoi</a>
            </div>
        </div>

    </form>
</div>


