@model IEnumerable<Licenta.Models.QandA.Response>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<h2>Intrebari - raspunsuri</h2>
<hr />

<p>
    <a asp-action="Create">Adauga raspuns nou</a>
</p>

<partial name="_NotificationBoxPartial" />

<div class="container mt-5">
    @foreach (var item in Model)
    {
    <div class="w-75 mt-2 mb-2 p-3">
        @Html.DisplayFor(modelItem => item.Question.Intrebare)
        <ol>
            <li>
                @item.Raspuns
            </li>
        </ol>
        </div>
    }
</div>