@{
    ViewData["Title"] = "Home Page";
}

<section id="banner-area">

    <div class="owl-carousel owl-theme">

        <div class="item">
            <img src="~/img/Accounting-Banner1.png" alt="Accounting Banner">
        </div>

        <div class="item">
            <img src="~/img/accounting2.jpg" alt = "Accounting picture 2">
        </div>

    </div>

</section>

