@model IEnumerable<Licenta.Models.Plati.Plata>
@using Microsoft.Extensions.Options
@inject IOptions<Licenta.Utility.StripeSettings> Stripe


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Plati";
}

<br />

<div class="text-center">
    <h3>Plati</h3>
</div>
<hr />
<br />

<div class="table-responsive-md p-4 border rounded">
    <table class="table table-hover" id="tblData" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TipPlata.Denumire)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Suma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataScadenta)
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/plati/platiUser.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="~/js/plati/plataStripe.js"></script>
}