@model IEnumerable<Licenta.Models.Plati.Plata>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Plati";
}

<br />

<div class="text-center">
    <h3>Plati</h3>
</div>
<hr />
<br />

<div class="table-responsive-md p-4 border rounded">
    <table class="table table-hover" id="tblData" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TipPlata.Denumire)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Suma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataScadenta)
                </th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/plati/platiUser.js"></script>
}