@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="jumbotron text-center">
    <h1 class="display-4 text-center">Va rugam sa va verificati email-ul.</h1>
    <p class="lead">Link-ul de modificare a parolei a fost trimis cu succes.</p>
    <hr class="my-4">
    <p>Va multumim!</p>
</div>

