@page
@model LockoutModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Locked out";
}

@section Styles {
    <link href="~/css/locked.css" rel="stylesheet" />
}

<div id="lockout-text">
    <div>
        <span id="heading">@ViewData["Title"]</span>
        <p>Contul dumneavoastra a fost blocat.</p>
        <a href="/#contact-us" id="contact-link"><i class="far fa-hand-pointer"></i>&nbsp;
            Pentru mai multe detalii consultati administratorul de sistem.
        </a>
    </div>
</div>

