@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmare resetare parola";
}

<div class="jumbotron text-center">
    <h2 class="display-4 text-center">Parola dumneavoastra a fost resetata cu succes!</h2>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-secondary btn-lg" role="button" asp-page="./Login">Autentificare</a>
    </p>
</div>
