<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Credentiale de autentificare Contsal</title>
</head>
<body>
    <p>Draga {0}, </p>
    <br>
    <div>
        <div style="margin-top: 4px; margin-bottom:4px;">
            <p>Ne bucuram nespus de mult pentru alegerea dumneavoastra de a colabora cu firma noastra de contabilitate!</p>
            <p>Contul dumneavoastra pentru firma <strong>{1}</strong> a fost creat cu succes.</p>
        </div>
        
        <div>
            Credentialele de logare sunt urmatoarele:
            <p><strong>Username/Email: </strong> <em>{2}</em></p>
            <p><strong>Parola: </strong> <em>{3}</em></p>
        </div>

        <div style="margin-top: 4px; margin-bottom:4px;">
            <h3 style="color:red;">Nota</h3>
            Dupa prima autentificare, parola poate fi schimbata.
        </div>

        <p>
            <a href="https://localhost:44342/Identity/Account/Login">Click aici pentru autentificare in cadrul platformei</a>
        </p>

        <p>Cu respect,</p>
        <p>Echipa Contsal SRL</p>
    </div>
</body>
</html>