@model Licenta.Models.Chat.Chat

<div class="modal fade" id="groupUsers" tabindex="-1" role="dialog" aria-labelledby="groupUsers" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="groupUsers">Utilizatori ai grupului @Model.Nume </h5>
                <span id="@Model.ChatId" name="chatId"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                @foreach (var user in Model.Users)
                {
                    <div class="form-group row">
                        <div class="col-7" id="numeUtilizatorGrup">
                            @user.ApplicationUser.Nume
                        </div>
                    </div>
                }

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

