@model IEnumerable<Licenta.Models.Chat.Chat>
@using System.Security.Claims 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Chat";
    var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
}

<!-- Modal Placeholder -->
<div id="chatRoom-modal"></div>

<div class="row">
    <div class="col-4 text-right">
        <button type="button" class="btn btn-outline-secondary" data-toggle="ajax-chatRoom-modal" data-target="#add-chatRoom">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp; Creeaza grup
        </button>
    </div>
</div>

<div>
    @foreach (var chat in Model)
    {
    <a asp-controller="Chat" asp-action="Chat" asp-route-id=@chat.ChatId class="btn btn-outline-secondary">
        @chat.Nume
    </a>
    }
</div>

@section Scripts {
    <script src="~/js/chat/chatRoom.js"></script>
}