@model IEnumerable<Licenta.Models.CereriDocumente.TipCerere>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Tip Cereri</h2>

<hr />
<p>
    <a asp-action="Create">Adauga tip cerere</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Denumire)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.TipCerereId">Editeaza</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TipCerereId">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
