@model IEnumerable<Licenta.Areas.Admin.Models.CustomerModel>

@foreach (var customer in Model)
{
    <ul>
        <li>@customer.CustomerId</li>
        <li>@customer.Name</li>
        <li>@customer.Country</li>
    </ul>
}
