@model Licenta.ViewModels.ChatRoomVM

<div class="modal fade" id="add-usersGroup" tabindex="-1" role="dialog" aria-labelledby="add-usersGroup" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-usersGroup">Adauga mai multi utilizatori grupului</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()" />

                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Users" class="control-label"></label>
                        </div>
                        <div class="col-6">
                            <select asp-for="Users" class="form-control users-list" asp-items=@ViewBag.ApplicationUserId multiple></select>
                            <span asp-validation-for="Users" class="text-danger"></span>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal-usersGroup">Creeaza</button>
            </div>
        </div>
    </div>
</div>

