a {
    text-decoration: none;
    color: black;
}

    a:hover {
        text-decoration: none;
        color: aqua;
    }

.side-menu {
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 20vw;
    min-height: 100vh;
    border-radius: 7px 0px 0px 7px;
}

.chat-body {
    width: 80vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.message {
    margin: 7px;
    padding: 5px;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 40vw;
    min-width: 20vw;
    display: flex;
}

    .message:first-child {
        margin-top: auto;
    }

    .message > * {
        padding: 0.2rem;
    }

    .message > header {
        font-weight: bold;
        min-width: 100px;
        text-align: right;
    }

    .message > p {
        margin: 0;
        flex-grow: 5;
    }

    .message > footer {
        min-width: 60px;
        text-align: center;
    }

#chatBody {
    min-height: 100vh;
    background: url("/img/chat-bg.png");
    background-repeat: repeat;
    border-radius: 0px 7px 7px 0px;
    box-shadow: -10px 0 8px -6px rgb(127, 187, 224);
}

.chat-body-user {
    width: 100vw;
    min-height: 100vh;
    background: url("/img/chat-bg.png");
    background-repeat: repeat;
    border-radius: 7px 7px;
}

.chat-input-user {
    margin-left: 50px;
}

.user-chat {
    min-height: 50px;
    padding-left: 10px;
}

#utilizatoriArea {
    font-size: 24px;
    padding: 8px;
    margin: 24px 0px 16px;
}

#messageInput {
    margin: 7px;
    padding: 5px;
}

.user-sender {
    background-color: black;
    color: white;
    border-radius: 8px 8px 0px 8px;
    justify-content: flex-end;
}

.user-receiver {
    background-color: white;
    color: black;
    border-radius: 8px 8px 8px 0px;
    justify-content: flex-start;
}