a {
    text-decoration: none;
    color: black;
}

    a:hover {
        text-decoration: none;
        color: aqua;
    }

.message {
    display: flex;
    flex-direction: row;
    margin-top: 0.2rem;
}

    /* flexbox trick */
    .message:first-child {
        margin-top: auto;
    }

    .message > * {
        padding: 0.2rem;
    }

    .message > header {
        font-weight: bold;
        min-width: 100px;
        text-align: right;
    }

    .message > p {
        margin: 0;
        flex-grow: 5;
    }

    .message > footer {
        min-width: 60px;
        text-align: center;
    }

.side-menu {
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 20vw;
    height: 100vh;
    border-radius: 7px 7px;
}

.chat-body {
    width: 80vw;
}

.message {
    background-color: lightgray;
    border-radius: 3px 4px;
    margin: 7px;
    padding: 5px;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 40vw;
    min-width: 20vw;
}

#chatBody {
    background: url("/img/chat-bg.png");
    background-repeat: repeat;
}

.user-chat {
    height: 50px;
    padding-left: 10px;
}
    
.user-chat:first-child {
    margin-top: 100px;
}

#messageInput {
    margin: 7px;
    padding: 5px;
}
