#banner-area {
    width: 98.9vw;
}

#banner-area img {
    height: 67vh;
}

.navbar {
    margin: 0rem !important;
    display: flex;
    justify-content: center;
}

#services-title {
    width: 98.9vw;
    display: flex;
    justify-content: center;
}

.services {
    width: 98.9vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.services_box {
    padding: 4px;
    background: #efe9e9;
    margin: 10px 10px 20px 10px;
    width: 255px;
    height: 450px;
    border-radius: 5px 5px;
    text-align: justify;
}

.services_img {
    width: 247px;
    height: 90px;
}

.card-title {
    font-style: italic;
    font-weight: bold;
}

#contact-body {
    background: url("../img/home-form-bg.jpg");
    min-width: 98.9vw;
    max-width: 98.9vw;
    height: 70vh;
}

.footer {
    padding-left: 180px;
}

.form-group {
    max-width: 98.9vw;
}