.question-card, .categories {
    border-radius: 5px 5px;
    margin-top: 6px;
    margin-bottom: 13px;
    padding: 25px;
    transition: ease-in;
    background-color: #e0ebeb;
}

    .question-card:hover, .categories:hover {
        transform: scale(1.01);
    }

#qa-picture {
    background-image: url("/img/undraw_questions.png");
    min-height: 32vh;
    max-height: 36vh;
    border-radius: 100px 0px 0px 0px;
    z-index: 200;
}

    #qa-text {
        z-index: 300;
        padding-left: 65px;
        padding-top: 3px;
    }

    .qa-tools {
     /*   display: flex;
        flex-direction: column;*/
    }

#searchQuestion {
    width: 30vw;

}

#searchLabel {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
    color: darkblue;
}

#searchButtons {
    margin-top: 5px;
    display: flex;
}

    #searchButtons > * {
        justify-content: flex-end;
    }