@model Licenta.Models.Salariat

@{
    ViewData["Title"] = "Edit";
}

<br>
<h2>Editare Salariat</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SalariatId" />
            <div class="form-group">
                <label asp-for="Nume" class="control-label"></label>
                <input asp-for="Nume" class="form-control" />
                <span asp-validation-for="Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenume" class="control-label"></label>
                <input asp-for="Prenume" class="form-control" />
                <span asp-validation-for="Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pozitie" class="control-label"></label>
                <input asp-for="Pozitie" class="form-control" />
                <span asp-validation-for="Pozitie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAngajare" class="control-label"></label>
                <input asp-for="DataAngajare" class="form-control" />
                <span asp-validation-for="DataAngajare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataConcediere" class="control-label"></label>
                <input asp-for="DataConcediere" class="form-control" />
                <span asp-validation-for="DataConcediere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Inapoi</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
