@model Licenta.Models.QandA.Question
@using Licenta.Utility 

<div class="modal fade" id="add-question" tabindex="-1" role="dialog" aria-labelledby="addQuestionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addQuestionLabel">Adauga intrebare</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Questions" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!-- Verificam daca modelul e valid, transmitem pentru notificare si inchidere modal -->
                    <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()" />

                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Intrebare" class="control-label"></label>
                        </div>
                        <div class="col-6">
                            <textarea asp-for="Intrebare" class="form-control" rows="6"></textarea>
                            <span asp-validation-for="Intrebare" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Descriere" class="control-label"></label>
                        </div>
                        <div class="col-6">
                            <textarea asp-for="Descriere" class="form-control" rows="10"></textarea>
                            <span asp-validation-for="Descriere" class="text-danger"></span>
                        </div>
                    </div>

                    @if (User.IsInRole(ConstantVar.Rol_Admin))
                    {
                        <div class="form-group form-check row">
                            <div class="col-6 offset-3">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Rezolvata" /> @Html.DisplayNameFor(model => model.Rezolvata)
                                </label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-3">
                                <label asp-for="ApplicationUserId" class="control-label"></label>
                            </div>
                            <div class="col-6">
                                <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId"></select>
                            </div>
                        </div>
                    }

                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="QuestionCategoryId" class="control-label"></label>
                        </div>
                        <div class="col-6">
                            <select asp-for="QuestionCategoryId" class="form-control" asp-items="ViewBag.QuestionCategoryId"></select>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>
