@model IEnumerable<Licenta.Models.TipDocument>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-7">
        <h2 class="text-primary">Tipuri documente</h2>
    </div>
    <div class="col-5 text-right">
        <a asp-action="Create" class="btn btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Creare tip document</a>
    </div>
</div>
<br />

<partial name="_NotificationBoxPartial" />

<div class="table-responsive-md p-4 border rounded">
    <table class="table table-hover" id="tblData" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>Denumire</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/documente/tipDocument.js"></script>
}
